<!doctype html>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% block bootstrap4_content %}

<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Vineeth's Blog{% endblock %}</title>
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/blog/">Vineeth's Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="/blog/">Home <span class="sr-only"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/blog/posts">New Post</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link"  >Contact</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link"  >Login</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" >Register</a>
                  </li>
            </ul>
          </div>
        </nav>
    </header>
    <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-8">
                {% block content %}

                {% endblock %}
            </div>
          </div>
        </div>
    </main>
    </body>
</html>
{% endblock %}